In [10]:
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70], 
                         [2,90,45,34], 
                         [3,45,32,55], 
                         [4,70,77,89], 
                         [5,56,80,70], 
                         [6,60,54,55], 
                         [7,45,70,79], 
                         [8,34,77,76], 
                         [9,25,87,60], 
                         [10,88,40,43]]
                        ,columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
print(score_df)
mean_all = score_df.mean(axis=1)
print("Student id = 6, average = ", mean_all[6])

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43
Student id = 6, average =  56.333333333333336

In [12]:
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70], 
                         [2,90,45,34], 
                         [3,45,32,55], 
                         [4,70,77,89], 
                         [5,56,80,70], 
                         [6,60,54,55], 
                         [7,45,70,79], 
                         [8,34,77,76], 
                         [9,25,87,60], 
                         [10,88,40,43]]
                        ,columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
print(score_df)
mean_all = score_df.mean(axis=1)
mean_median_all = mean_all.median()
print("Student id = 6, average = ", mean_all[6], "\nAll median value is ", mean_median_all)

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43
Student id = 6, average =  56.333333333333336
All median value is  59.833333333333336

In [20]:
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70], 
                         [2,90,45,34], 
                         [3,45,32,55], 
                         [4,70,77,89], 
                         [5,56,80,70], 
                         [6,60,54,55], 
                         [7,45,70,79], 
                         [8,34,77,76], 
                         [9,25,87,60], 
                         [10,88,40,43]]
                        ,columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
print("Original score: \n", score_df)
score_df = score_df.apply(lambda x : x**(0.5)*10)
print("\nModified score: \n", score_df)
student_id6 = score_df.iloc[5]
print("\nStudent id = 6, modified score:\n", student_id6)

Original score:
             math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

Modified score:
             math_score  english_score  chinese_score
student_id
1            74.833148      81.240384      83.666003
2            94.868330      67.082039      58.309519
3            67.082039      56.568542      74.161985
4            83.666003      87.749644      94.339811
5            74.833148      89.442719      83.666003
6            77.459667      73.484692      74.161985
7            67.082039      83.666003      88.881944
8            58.309519      87.749644      87.177979
9            50.000000      93.273791      77.459667
10           93.808315      63.245553      65.574385

Student id = 6, modified score:
 math_score       77.459667
english_score    73.484692
chinese_score    74.161985
Name: 6, dtype: float64

In [21]:
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70], 
                         [2,90,45,34], 
                         [3,45,32,55], 
                         [4,70,77,89], 
                         [5,56,80,70], 
                         [6,60,54,55], 
                         [7,45,70,79], 
                         [8,34,77,76], 
                         [9,25,87,60], 
                         [10,88,40,43]]
                        ,columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
print("Original score: \n", score_df)
score_df = score_df.apply(lambda x : x**(0.5)*10)
print("\nModified score: \n", score_df)
average_all = score_df.mean(axis = 0)
print("\nModified score average: \n", average_all)

Original score:
             math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

Modified score:
             math_score  english_score  chinese_score
student_id
1            74.833148      81.240384      83.666003
2            94.868330      67.082039      58.309519
3            67.082039      56.568542      74.161985
4            83.666003      87.749644      94.339811
5            74.833148      89.442719      83.666003
6            77.459667      73.484692      74.161985
7            67.082039      83.666003      88.881944
8            58.309519      87.749644      87.177979
9            50.000000      93.273791      77.459667
10           93.808315      63.245553      65.574385

Modified score average:
 math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64