In [6]:
import numpy as np
import pandas as pd
score_df = pd.DataFrame([[1,50,80,70,'boy',1],
                         [2,60,45,50,'boy',2],
                         [3,98,43,55,'boy',1],
                         [4,70,69,89,'boy',2],
                         [5,56,79,60,'girl',1],
                         [6,60,68,55,'girl',2],
                         [7,45,70,77,'girl',1],
                         [8,55,77,76,'girl',2],
                         [9,25,57,60,'girl',1],
                         [10,88,40,43,'girl',3],
                         [11,25,60,45,'boy',3],
                         [12,80,60,23,'boy',3],
                         [13,20,90,66,'girl',3],
                         [14,50,50,50,'girl',3],
                         [15,89,67,77,'girl',3]],
                        columns=['student_id','math_score','english_score','chinese_score','sex','class'])
score_df = score_df.melt(id_vars = ['sex', 'class', 'student_id'])
final = score_df.pivot(index = ['sex', 'class', 'student_id'], columns = 'variable', values = 'value')

score_max = final.max()
score_min = final.min()

print('Maximum score of all: ',score_max)
print('\nMinimum score of all: ',score_min)

Maximum score of all:  variable
chinese_score    89
english_score    90
math_score       98
dtype: int64

Minimum score of all:  variable
chinese_score    23
english_score    40
math_score       20
dtype: int64

In [11]:
import numpy as np
import pandas as pd
score_df = pd.DataFrame([[1,50,80,70,'boy',1],
                         [2,60,45,50,'boy',2],
                         [3,98,43,55,'boy',1],
                         [4,70,69,89,'boy',2],
                         [5,56,79,60,'girl',1],
                         [6,60,68,55,'girl',2],
                         [7,45,70,77,'girl',1],
                         [8,55,77,76,'girl',2],
                         [9,25,57,60,'girl',1],
                         [10,88,40,43,'girl',3],
                         [11,25,60,45,'boy',3],
                         [12,80,60,23,'boy',3],
                         [13,20,90,66,'girl',3],
                         [14,50,50,50,'girl',3],
                         [15,89,67,77,'girl',3]],
                        columns=['student_id','math_score','english_score','chinese_score','sex','class'])
score_df = score_df.drop(['student_id', 'english_score', 'chinese_score', 'sex'], axis = 1)
average_math_class = score_df.groupby('class').mean()

print('The average of math score of each class:\n', average_math_class)
print('The maximum score is ',average_math_class.max())

The average of math score of each class:
        math_score
class
1       54.800000
2       61.250000
3       58.666667
The maximum score is  math_score    61.25
dtype: float64

In [13]:
import numpy as np
import pandas as pd
score_df = pd.DataFrame([[1,50,80,70,'boy',1],
                         [2,60,45,50,'boy',2],
                         [3,98,43,55,'boy',1],
                         [4,70,69,89,'boy',2],
                         [5,56,79,60,'girl',1],
                         [6,60,68,55,'girl',2],
                         [7,45,70,77,'girl',1],
                         [8,55,77,76,'girl',2],
                         [9,25,57,60,'girl',1],
                         [10,88,40,43,'girl',3],
                         [11,25,60,45,'boy',3],
                         [12,80,60,23,'boy',3],
                         [13,20,90,66,'girl',3],
                         [14,50,50,50,'girl',3],
                         [15,89,67,77,'girl',3]],
                        columns=['student_id','math_score','english_score','chinese_score','sex','class'])
score_df = score_df.drop(['student_id', 'math_score', 'english_score', 'class'], axis = 1)
average_chinese_class = score_df.groupby('sex').mean()
diff = average_chinese_class.max() - average_chinese_class.min()

print(average_chinese_class)
print('The difference between girls and boys chinese score = \n', diff)

      chinese_score
sex
boy       55.333333
girl      62.666667
The difference between girls and boys chinese score =
 chinese_score    7.333333
dtype: float64